body{
  background-color: white;
  padding-top: 75px;
}

.navbar-default {
  color: #fff ;
  background-color: #FF3838;
  border-color: #d21c1c;

  .navbar-brand {
    color: #fff;
  }

  .navbar-nav>li>a {
    color: #fff;
  }
}

.drop-box {
    background: #F8F8F8;
    border: 5px dashed #DDD;
    padding: 50px 50px;
    margin: 10px;
    cursor: pointer;
}

.dragover {
    border: 5px dashed blue;
}
