container-fluid
  .row
    .col-md-12
      .table-responsive
        table.table.table-striped.table-style
          .lead My Pending Proposals
          thead
            tr
              th #
              th Sender
              th Title
              th Description
              th Created
              th Options     
          tbody
            tr(ng-repeat='proposal in pendingProposals | filter: proposal1filter' )
              th {{$index}}
              td
                a(ui-sref='users.show({userId:proposal.sender._id})') {{proposal.sender.username}}
              td 
                span {{proposal.title}}
              td 
                span {{proposal.description}}
              td.smallDissapear  
                span(am-time-ago='proposal.createdAt')
              td(ng-if='proposal.isPending')
                span.btn.btn-danger(ng-click='declineProposal(proposal._id)') Decline
                span.btn.btn-success(ng-click='acceptProposal(proposal._id)') Accept
  .row
    .col-md-12
      .table-responsive
        table.table.table-striped.table-style
          .lead My Winks
          thead
            tr
              th #
              th Sender
              th Created    
          tbody
            tr(ng-repeat='incident in incidents | filter:{type:"wink"} | filter: incident1filter' )
              th {{$index}}
              td
                a(ui-sref='users.show({userId:incident.sender._id})') {{incident.sender.username}}
              td.smallDissapear  
                span(am-time-ago='incident.createdAt')
  .row
    .col-md-12
      .table-responsive
        table.table.table-striped.table-style
          .lead My Accepted Proposals
          thead
            tr
              th #
              th Sender
              th Title
              th Description
              th Proposed Date
          tbody
            tr(ng-repeat='proposal in acceptedProposals | filter: proposal1filter' )
              th {{$index}}
              td
                a(ui-sref='users.show({userId:proposal.sender._id})') {{proposal.sender.username}}
              td 
                span {{proposal.title}}
              td 
                span {{proposal.description}}
              td.smallDissapear  
                span {{proposal.proposedDate}}
