container-fluid
  .row
    .col-md-12
      .table-responsive
        table.table.table-striped.table-style
          .lead Offers to Me
          thead
            tr
              th #
              th Sender
              th Title
              th Description
              th Created
              th Options     
          tbody
            tr(ng-repeat='proposal in proposals')
              th {{$index}}
              td
                span {{proposal.sender}}
              td 
                span {{proposal.title}}
              td 
                span {{proposal.description}}
              td.smallDissapear  
                span(am-time-ago='proposal.createdAt')
              td 
                span.btn.btn-danger(ng-click='declineProposal()') Decline
                span.btn.btn-success(ng-click='approveProposal()') Accept
                

                //- title: {type: String, required: true},
                //- description: {type: String, required: true},
                //- sender: {type: mongoose.Schema.ObjectId, ref: 'User', required: true},
                //- receiver: {type: mongoose.Schema.ObjectId, ref: 'User', required: true},
                //- isPending: {type: Boolean, default: true, required: true},
                //- isAccepted: Boolean,
                //- createdAt: {type: Date, default: Date.now, required: true}
