container-fluid
  .row
    .col-md-12
      .table-responsive
        table.table.table-striped.table-style
          .lead Pending Proposals to Me
          thead
            tr
              th #
              th Sender
              th Title
              th Description
              th Created
              th Options     
          tbody
            tr(ng-repeat='proposal in proposals | filter: proposal1filter' )
              th {{$index}}
              td
                a(ui-sref='users.show({userId:proposal.sender._id})') {{proposal.sender.username}}
              td 
                span {{proposal.title}}
              td 
                span {{proposal.description}}
              td.smallDissapear  
                span(am-time-ago='proposal.createdAt')
              td(ng-if='proposal.isPending')
                span.btn.btn-danger(ng-click='declineProposal(proposal._id)') Decline
                span.btn.btn-success(ng-click='acceptProposal(proposal._id)') Accept
                

                //- title: {type: String, required: true},
                //- description: {type: String, required: true},
                //- sender: {type: mongoose.Schema.ObjectId, ref: 'User', required: true},
                //- receiver: {type: mongoose.Schema.ObjectId, ref: 'User', required: true},
                //- isPending: {type: Boolean, default: true, required: true},
                //- isAccepted: Boolean,
                //- createdAt: {type: Date, default: Date.now, required: true}

            tr(ng-repeat='trade in trades | filter : item1filter')
              th {{$index}}
              td 
