.col-md-12.page-header
  .col-md-6
    h4 {{user.realname}}
  .col-md-6.text-right
    h5: a.btn-modify(ui-sref='account.edit') Edit Profile

.col-md-12
  .col-md-4
    .col-md-12
      .profile-picture
        img(ng-src='{{user.photos[0]}}')
    .location(ng-if='user.location')
      .col-md-1.text-center: i.fa.fa-map-marker
      .col-md-10 {{user.location}}
    .height(ng-if='user.height')
      .col-md-1.text-right: i.fa.fa-ruler
      .col-md-10 {{user.height}}

  .col-md-8
    .col-md-12
      .messages.msg_receiver: p {{user.bio}}
    .col-md-12.page-header: h4 Photos
    .col-md-4(ng-repeat='photo in user.photos')
      .thumbnail
        img.img-responsive(ng-src='{{photo}}' width='125' height='125')
    .col-md-12: a(ui-sref='account.upload').btn.btn-modify.btn-full Add Pictures
    .col-md-12.page-header: h4 Gifts
    .col-md-12
      h6 You do not have any gifts :(
