.page-header
  h3.text-capitalize Propose a date
.form-group
  label Title
  input.form-control(type='text', ng-model='date.title', placeholder='Give it a pick up line')
.form-group
  label Message
  textarea.form-control(ng-model='date.description', rows='4', placeholder='Explain your idea for the date...')
.form-group
  label Date
  input.form-control(type='date', ng-model='date.proposedDate')
.form-group
  submit.btn.btn-love(ng-click='propose(date)') Propose Date
