div(pp-stripe-brain)
.col-md-3.text-center(ng-repeat='gift in gifts', style='padding-top: 25px;')
  .col-md-12
    img(ng-src='http://placehold.it/125x125')
  .col-md-12
    h5.text-capitalize: strong {{gift.name}}
    select.form-control(ng-model='receiver')
      option(value='') Select Receiver
      option(ng-repeat='receiver in users', value='{{receiver}}') {{receiver.username}}
    div(pp-stripe, gift='gift', receiver='receiver')
