.col-md-12(style='padding-top: 25px;')
  .row
    form(form='filterForm')
      .col-sm-12.col-md-3
        .form-group
          select.form-control(ng-model='filterUser.gender')
            option(value='') Gender
            option Male
            option Female
            option Other
      .col-sm-12.col-md-3
        .form-group
          select.form-control(ng-model='filterUser.age')
            option(value='') Age
            option > 25
            option < 25
      .col-sm-12.col-md-3
        .form-group
          input.form-control.location-input(type='text', ng-model='filterUser.location', placeholder='Search zip', ng-minlength='5', ng-maxlength='5')
      .col-sm-12.col-md-3
        .input-group-btn
              button.btn.btn-default(type='button', ng-click='filter(filterUser)'): i.fa.fa-filter
      
  .col-md-3(ng-repeat='user in users') 
    .thumbnail
      .outer-image.thumbnail
        img.img-responsive(ng-src='{{user.photos[0]}}', width='175', height='175')
      .caption
        .row.information
          .col-md-12.item
            h5: strong {{user.realname}}
          .col-md-12.item
            h6: i.fa.fa-child &nbsp; {{user.age}} years old
          .col-md-12.item
            h6: i.fa.fa-map-marker &nbsp; {{user.location}} 
        .row
          .col-md-12
            a.btn.btn-default.btn-full.btn-sm(ui-sref='users.show({userId:user._id})'): i.fa.fa-info &nbsp; More Information
          .col-md-12
            a.btn.btn-love.btn-full.btn-sm: i.fa.fa-comments-o &nbsp; Send Message
