.col-md-12.side-menu.sideNavColor(ng-controller='NavCtrl')
  .col-md-12
    .col-md-4(style='padding-left: 0px')
      .image
        img(ng-src='{{user.photos[user.primary]}}', height='50', width='50', style='border-radius: 5px;')
    .col-md-8(style='padding-left: 0px')
      h6.navPosition(style='font-weight: bolder; font-size: 1.5rem; color: #999; margin-top: 2px;') {{user.realname}}
      h6.text-capitalize.item.navPosition: a(ui-sref='account.profile') my account
  .col-md-12
    .header
      small.text-capitalize.colorized information
    .item
      h5
        a(ui-sref='home')
          span.fa.fa-navicon
          span home
    .item
      h5
        a(ui-sref='account.history')
          span.fa.fa-history
          span history
    .item
      h5
        a(ui-sref='account.history')
          span.fa.fa-comment-o
          span Notifications
        
    .header
      small.text-capitalize.colorized Communication
    .item
      h5
        a(ui-sref='account.history')
          span.fa.fa-envelope-o
          span messages &nbsp;
          span.badge {{incidentNum}}
        
    .header
      small.text-capitalize.colorized Gifts
    .item
      h5
        a(ui-sref='gifts.store')
          span.fa.fa-gift
          span browse gifts
