.container(ng-controller='NavCtrl')
  #sidebar.bs-sidebar.affix
    ul.nav.nav-pills.nav-stacked
      li: a(ui-sref='home') Home
      li: a(ui-sref='account.profile') {{user.username}}
      li: a(href='#', ng-click='logout()') Log Out
