.container
  .row
    .col-md-4
    .col-md-4
      .jumbotron.text-center
        button.btn.btn-primary(type='submit', ng-click='submit("facebook")'): i.fa.fa-facebook &nbsp; Sign in with Facebook 
    .col-md-4
    
