.container
  .row
    .col-md-3
    .col-md-6
      .jumbotron
        .stepper
          .stepwizard
            .stepwizard-row
              .stepwizard-step
                button.btn.btn-default.btn-circle(type='button') 1
              .stepwizard-step
                button.btn.btn-primary.btn-circle(type='button') 2
        .page-header.text-center: h3 Create Profile
        .form-group
          input.form-control(type='text', ng-model='newUser.username', placeholder='Enter a username', autofocus, required)
        .form-group
          input.form-control(type='email', ng-model='newUser.email', placeholder='Enter an Email', required)
        .form-group
          textarea.form-control(type='text', rows='4', ng-model='newUser.bio', placeholder='You in a nutshell', required)
        .form-group
          input.form-control(type='text', ng-model='newUser.location', placeholder='Enter your zipcode', required)
        .form-group 
          input.form-control(type='number', ng-model='newUser.age', placeholder='Enter your age', required)
        .form-group
          select.form-control(ng-model='newUser.gender', required)
            option(value='') I am
            option Male
            option Female
            option Other
        .form-group
          select.form-control(ng-model='newUser.lookingFor', required)
            option(value='') Looking For
            option Male
            option Female
            option Other
        .form-group
          button.btn.btn-info(ng-click='finish(newUser)') Complete Registration
    .col-md-3
        //- username: String,
        //- email: String,
        //- bio : String,
        //- location: String,
        //- age: Number, 
        //- gender: String, /select
        //- lookingFor: String, /select
