.col-md-12.page-header
  .col-md-12
    h4 {{showUser.username}}

.col-md-12
  .col-md-4
    .col-md-12
      .profile-picture.page-header(style='margin: 0 0 20px;')
        .thumbnail
          img(ng-src='{{showUser.photos[0]}}')
    .col-md-12
      a.btn.btn-danger.btn-full: i.fa.fa-heart &nbsp; Send Wink
    .col-md-12
      a.btn.btn-love.btn-full: i.fa.fa-comment &nbsp; Send Message
    .col-md-12
      a.btn.btn-primary.btn-full(ui-sref='dates.propose({userId:showUser._id})'): i.fa.fa-coffee &nbsp; Propose Date

  .col-md-8
    .col-md-12
      .messages.msg_receiver: p {{showUser.bio}}
    .col-md-12.page-header: h4 Photos
    .col-md-4(ng-repeat='photo in showUser.photos')
      .thumbnail
        img.img-responsive(ng-src='{{photo}}' width='125' height='125')
    .col-md-12.page-header: h4 Gifts
    .col-md-12(ng-if='!gifts')
      h6 {{showUser.username}} does not have gifts! &nbsp;
        a(ui-sref='gifts.store') Send a Gift!
    .col-md-12(ng-if='gifts')
      .col-md-3(ng-repeat='gift in gifts')
        img(ng-src='{{gift.photo}}', width='75', height='75')
